<div id="group-edit">
    <h2>Gérer le groupe</h2>
    <div class="container">
      <div class="form-group">
        <label for="name">Nom</label>
        <input type="text" class="form-control" id="name" />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description"></textarea>
      </div>
      <div class="form-group">
        <label for="url">URL</label>
        <input type="text" class="form-control" id="url" />
      </div>
      <div class="form-group">
        <label for="access">Accès</label>
        <select class="form-control" id="access">
          <option value="">Tout le monde a accès au groupe</option>
          <option value="">Seul les membres du groupe peuvent y avoir accès</option>
        </select>
      </div>
      <div class="checkbox">
        <label><input type="checkbox"> Visible</label>
      </div>
      <div class="form-row text-center">
        <div class="col-12">
          <button type="submit" class="btn btn-secondary">Annuler</button>
          <button type="submit" class="btn btn-primary">Valider</button>
        </div>
     </div>
    </div>
  </div>
  