<h2>Liste des groupes</h2>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3"
         *ngFor="let group of groups; let i = index">
      <div class="card" [ngClass]="group.access ? 'private' : ''" (click)="showGroupDetail(i + fromto.from)">
        <h3>{{ group.name }}</h3>
        <p>{{ group.description }}</p>
      </div>
    </div>
  </div>
</div>

<p>&nbsp;</p>

<app-pager [totalelements]="groupCount" [maxperpage]="maxPerPage" [currentpos]="fromto.from" (fromTo)="changeResult($event)"></app-pager>

<p style="text-align:center;padding-top:50px;">
  <button class="btn btn-primary" (click)="new()">Nouveau</button>
</p>
