<div id="home">
  <div *ngIf="groupDetail; then displayGroupDetail else displayGroupList"></div>

  <ng-template #displayGroupDetail >
    <app-group-detail [group]="groupDetail" (hideGroup)="hideGroup()"></app-group-detail>
  </ng-template>

  <ng-template #displayGroupList >
    <app-group-list (showGroup)="showGroup($event)"></app-group-list>

    <p>&nbsp;</p>

    <app-pager></app-pager>

    <div class="log">
      <ul>
        <li *ngFor="let grouplog of logGroupSeen">{{ grouplog }}</li>
      </ul>
    </div>
  </ng-template>
</div>
